.cards {
	width: 166px;
	height: 918px;
	margin: 40px auto 50px;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
}

.cards li {
	width: 166px;
	height: 128px;
	background: #f2f3f6;
	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cards i {
	margin-bottom: 15px;
}
.categories-title {
	margin-top: 50px;
	text-align: center;
}

/* SECTION JOBS */

.vacancies-cards {
	width: 290px;
	height: 1824px;
	margin: 40px auto 30px;
}

.vacancies-card {
	border: 1px solid rgb(201, 201, 201);
	width: 290px;
	height: 441px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 30px 0 30px;
}

.vacancie-title {
	width: 173px;
	height: 46px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.vacancies-stack {
	width: 183px;
	height: 59px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.vacancies-stack .stack {
	display: flex;
	justify-content: space-between;

	width: 100%;
}

/* HEADER MENU */

.menu-btn {
	display: none;
}

input[type="checkbox"] {
	display: none;
}

label {
	display: block;
	height: 30px;
	width: 30px;
	position: relative;
}

label:hover {
	cursor: pointer;
}

label span,
label span::after,
label span::before {
	content: "";
	height: 2px;
	width: 25px;
	background: #333;
	position: absolute;
	right: 0;
	transition: 0.3s;
}

label span::before {
	top: -8px;
}

label span::after {
	top: 8px;
}

input[type="checkbox"]:checked ~ label span {
	transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ label span::before {
	transform: rotate(0);
}

input[type="checkbox"]:checked ~ label span::after {
	transform: rotate(90deg);
	top: 0;
}

input[type="checkbox"]:checked ~ .menu-btn {
	display: flex;
}

@media (max-width: 768px) {
	.menu-btn {
		position: absolute;
		width: 100%;
		background-color: aqua;
	}
}

button {
	width: 113px;
	height: 39px;

	color: white;
	background-color: #1a75e8;
	border: 2px solid #1a75e8;
	border-radius: 5px;
}

div a {
	text-decoration: none;
	color: #1a75e8;
}

.stack {
	color: #b2b2b2;
	border: 2px solid #b2b2b2;
	border-radius: 10px;
}
